* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
    color: #2d2d32;
}

#NavBar {
    display: grid;
    grid-template-columns: 11% 45% 17% 10%;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

#NavBar>.NavFirstSection {
    width: 95%;
}

#NavBar>.NavFirstSection> a > img {
    width: 72%;
}

#NavBar>.NavSecondSection {
    display: flex;
    gap: 12px;
    cursor: pointer;
}

#NavBar>.NavSecondSection> a {
    width: 20%;
    padding: 4px;
    text-decoration: none;
}

#NavBar>.NavSecondSection> a > div>h4 {
    font-size: 15px;
    line-height: 25px;
    font-weight: 550;
    color: #2d2d32;
}

#NavBar>.NavSecondSection> a > div>p {
    font-size: 12px;
    color: #787887;
}

#NavBar>.NavSecondSection> a > div>h4:hover{
    color: #112092;
}

#NavBar>.NavThirdSection>.loginSignUp>a>button {
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    background-color: transparent;
    color: #787887;
    border-radius: 4px;
    border: solid 1px#d3d3d3;
    padding: 8px 10px;
}

#NavBar>.NavThirdSection>.loginSignUp>a>button:hover {
    border: solid 1px#00d9ff;
    color: #00d9ff;
}

#Homepagewarp {
    width: 85%;
    margin: auto;
}

@media screen and (min-width: 0px) and (max-width: 430px){
    #Homepagewarp {
        width: 95%;
    }
}

@media screen and (min-width: 431px) and (max-width: 768px){
    #Homepagewarp {
        width: 100%;
        margin: auto;
    }
}

@media screen and (min-width: 770px) and (max-width: 1440px){
    #Homepagewarp {
        width: 100%;
        margin: auto;
    }
}

.HomeSecondsection {
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px 10px 0px;
    color: #414146;
}

.HomeSecondsection>.input1part{
    display: flex;
}

.HomeSecondsection .secondbar>.locationsearch, 
.HomeSecondsection .secondbar>.locationsearch1 {
    border: 1px solid rgba(148, 148, 148, 0.37);
    border-radius: 2px;
    width: 350px;
    padding: 10px 12px 12px 8px;
}

.HomeSecondsection .secondbar input{
    width: 90%;
    border: none;
    font-size: 13px;
    outline: none;
}

.secondbar > .locationsearch{
    border: 1px solid rgba(148, 148, 148, 0.37);
    border-radius: 2px;
    width: 350px;
    padding: 10px 12px 12px 8px;
}

.fa-chevron-down{
    display: none;
}

.HomeSecondsection>.input1part .secondbar > .locationsearch1 > i {
    margin-right: 10px;
    margin-left: 6px;
    color: #5e5e61;
    font-size: 13px;
}

.secondbar i {
    margin-right: 10px;
    margin-left: 6px;
    color: #5e5e61;
    font-size: 13px;
}

.hidden{
    display:none;
}

.locationdata, .searchdata{
    position: absolute;
    width: 24.4%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #fff;
    display: none; 
    /* how do i get this to show */
}

.location{
    display: flex;
}

.locationsearch1 > .fa-times-circle{
    font-size: 15px;
    display: none;
}

.location:active .locationdata{
    opacity: 1;
    pointer-events: auto;
}

.locationdata ul, .searchdata ul {
    list-style: none;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(95, 95, 95, 0.582);
}

.locationdata  li, .searchdata li {
    border-bottom:1px solid rgba(156, 156, 156, 0.185); 
    padding: 15px 5px ;
    font-size: 14px;
    font-weight:400;
    display: block;
}

.locationdata li:hover, .searchdata li:hover{
    background-color: #d1d1d142;
}

.locationdata  li  i, .searchdata li i {
    background-color: #cacaca3d;
    border-radius: 50%;
    color: #787887;
    padding: 8px;
    font-size: 12px;
    margin-right: 10px;
}

.search{
    display: flex;
}

.search > .fa-times-circle{
    font-size: 15px;
    display: none;
}

.HomeSecondsection>.adimg>img {
    width: 60%;
    height: 95%;
}

.HomeSecondsection>.adimg {
    text-align: right;
}

@media screen and (min-width: 0px) and (max-width: 430px){
    #Homepagewarp{
        width:50%;
    }
    #Homepagewarp>.HomeSecondsection{
        display: block;
    }
    .HomeSecondsection>.input1part{
        display: block;
    }
    .HomeSecondsection>.adimg{
        display: none;
    }
    .locationdata{
        width: 80%;
    }
    .location{
        margin-bottom: 10px;
    }
    .HomeSecondsection>.input1part .secondbar > .locationsearch1 > input {
        width: 70%;
    }

    .secondbar > .locationserch > input {
        width: 70%;
    }

    .HomeSecondsection>.input1part .secondbar > .locationsearch1{
        width: 90%;
        padding: 10px 0px;
    }

    .secondbar > .locationserch{
        width: 90%;
        margin: auto;
        padding: 10px 0px;
    }

    .HomeSecondsection>.input1part .locationmain> .locationsearch1 > input{
        width: 70%;
        font-weight: 900;
        margin-top:-4px;
    }

    .HomeSecondsection>.input1part .secondbar > .locationsearch1 {
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
        border: none;
        padding: 10px 0px;
    }

    .locationsearch > input{
        width: 70%;
        font-weight: 900;
        margin-top:-4px;
    }

    .locationsearch1{
        border: none;
    }
    .fa-chevron-down{
        display: inline-block;
    }
}

@media screen and (min-width: 431px) and (max-width: 768px){
    #Homepagewarp>.HomeSecondsection{
        display: block;
    }
    .HomeSecondsection>.input1part{
        display: block;
    }
    .HomeSecondsection>.adimg{
        display: none;
    }
    .locationdata{
        width: 80%;
    }
    .location{
        margin-bottom: 10px;
    }
    .HomeSecondsection>.input1part .secondbar > .locationsearch{
        width: 70%;
        margin: auto;
        padding: 10px 0px;
    }
    .HomeSecondsection>.input1part .secondbar > .locationsearch1{
        margin: auto;
        border: none;
    }
    .HomeSecondsection>.input1part .locationmain> .locationsearch > input{
        width: 15%;
        font-weight: 900;
        margin-top:-4px;
    }
    .locationdata {
        width: 62%;
    }
    .searchdata{
        width: 65%;
        margin-left: 50px;
    }
    .HomeSecondsection > .input1part > .locationmain > .locationsearch{
        border: none;
    }
    .fa-chevron-down{
        display: inline-block;
    }
}

#HomethirdSection {
    width: 94%;
    margin: auto;
    margin-top: 50px;
}

#HomethirdSection > img{
    display: none;
}

#HomethirdSection>.thirdlinerback {
    cursor: pointer;
    display: flex;
    padding: 5px 5px 0px 5px;
    background-image: linear-gradient(105.21deg, rgb(55, 67, 171) 2.85%, rgb(20, 27, 86) 99.41%);
    border-radius: 32px;
    height: 300px;
    margin-top: 40px;
    color: #fff;
}

#HomethirdSection>.thirdlinerback>.leftsidecontect {
    width: 70%;
    padding: 40px 60px 40px;
}

#HomethirdSection>.thirdlinerback>.leftsidecontect>img {
    width: 240px;
    height: 50px;
    margin-bottom: 25px;
}

#HomethirdSection>.thirdlinerback>.leftsidecontect>h3 {
    font-size: 17px;
    font-weight: 400;
}

#HomethirdSection>.thirdlinerback>.leftsidecontect>h1 {
    font-size: 40px;
    margin-bottom: 25px;
}

#HomethirdSection>.thirdlinerback>.leftsidecontect>button {
    background: #fff;
    padding: 10px 24px;
    font-size: 14px;
    cursor: pointer;
    color: #2d2d32;
    border: none;
    border-radius: 8px;
    font-weight: 700;
}

#HomethirdSection>.thirdlinerback>.rightsideimg {
    text-align: center;
    margin-right: 0px;
}

#HomethirdSection>.thirdlinerback>.rightsideimg>img {
    margin-left: -27px;
    width: 84%;
    margin-top: -5.6%;
}

@media screen and (min-width: 0px) and (max-width: 430px){
    #HomethirdSection{
        width: 90%;
        margin-top: 0;
    }
    #HomethirdSection>.thirdlinerback{
       display: none;
    }
    #HomethirdSection > img{
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 431px) and (max-width: 768px){
    #HomethirdSection{
        width: 90%;
    }
    #HomethirdSection>.thirdlinerback{
       display: none;
    }
    #HomethirdSection{
        width: 90%;
       margin: auto;
    } 
    #HomethirdSection > img{
        display: block;
        width: 100%;
    }
}

#HomeFourSection {
    margin-top: 60px;
}

.FourCardMeandiv>.FourAllCard {
    display: flex;
    gap: 15px;
}

.FourAllCard>.card {
    border: 1px solid #f0f0f5;
    width: 220px;
    height: 320px;
    cursor: pointer;
    border-radius: 24px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.FourAllCard>.card>.cardimg {
    background-color: #AFCFED;
    padding: 14px 40px 40px 0px;
    width: 83%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    height: 163px;
}

.FourAllCard>.card>.cardText {
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
}

.FourAllCard>.card>.cardText>h3 {
    font-size: 18px;
    padding-bottom: 8px;
}

.FourAllCard>.card>.cardText>p {
    font-size: 14px;
    color: #787887;
}

.FourAllCard>.card>.cardimg>img {
    margin-left: 20px;
    width: 95%;
    height: 203px;
}

.FourAllCard>.Card2>.cardimg {
    background-color: #98CBD6;
    width: 80%;
}

.FourAllCard>.Card2>.cardimg>img {
    width: 100%;
}

.FourAllCard>.Card3>.cardimg {
    background-color: #CCD0DB;
}

.FourAllCard>.Card4>.cardimg {
    background-color: #D5D8FC;
    width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 430px){
#HomeFourSection {
    display: none;
}
} 

@media screen and (min-width: 431px) and (max-width: 768px){  
#HomeFourSection {
    display: none;
}
#responsivefourSection{
    display: block;
}
}

#responsivefourSection{
    display: none;
}

@media screen and (min-width: 0px) and (max-width: 430px){
    .heaing6{
        padding: 10px 10px 0px 10px;
    }
}

@media screen and (min-width: 431px) and (max-width: 768px){
    .heaing6{
        padding: 10px 10px 0px 10px;
    }
}

@media screen and (min-width: 0px) and (max-width: 430px){
    hr{
        display: none;
    }
    .heaing6 > h3{
        display: none;
    }
}

@media screen and (min-width: 431px) and (max-width: 768px){
    hr{
        display: none;
    }
    .heaing6 > h3{
        display: none;
    }
}

